<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName = "Peekify"?>
<?define ProductVersion = "0.8.0"?>
<?define ProductUpgradeCode = "E6BAA9E1-F399-4048-B558-84D13A31BA5E"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Manufacturer="Zinko Labs LLC"
           Version="$(var.ProductVersion)" UpgradeCode="$(var.ProductUpgradeCode)">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes"
                      Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no"
                      Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    
    <Condition Message="A newer version of $(var.ProductName) is already installed.">NOT NEWERVERSIONDETECTED</Condition>
    
    <MediaTemplate EmbedCab="yes"/>

    <Icon Id="ProductIcon" SourceFile="$(var.Peekify.App.ProjectDir)\appicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="http://www.zinkolabs.com/peekify"/>
    <Property Id="ARPURLINFOABOUT" Value="http://www.zinkolabs.com/peekify"/>
    <Property Id="ARPNOREPAIR" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
          <Component Id="AppFiles" Guid="990FEA0F-A16B-443A-AB5B-1A699CDE62AC">
            <File Id="AppExe" Source="$(var.Peekify.App.TargetDir)\$(var.Peekify.App.TargetFileName)"/>
            <File Id="AppExeConfig" Source="$(var.Peekify.App.TargetDir)\$(var.Peekify.App.TargetFileName).config"/>
            <File Id="SpotifyApiDll" Source="$(var.Peekify.App.TargetDir)\spotifyapi.dll"/>
            <File Id="NewtonSoftJsonDll" Source="$(var.Peekify.App.TargetDir)\newtonsoft.json.dll"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubFolder" Name="$(var.ProductName)">
          <Component Id="AppShortcuts" Guid="E094C9BF-BAAA-4B74-B94A-4AC0AA5CA8B6">
            <Shortcut Id="AppShortcut" Name="$(var.ProductName)" Description="$(var.ProductName) by Zinko Labs" 
                      Target="[INSTALLDIR]peekify.exe" WorkingDirectory="INSTALLDIR"/>
            <RegistryValue Root="HKCU" Key="Software\Zinko Labs\$(var.ProductName)"
                           Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
      
    </Directory>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate"/>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="AppFiles"/>
      <ComponentRef Id="AppShortcuts"/>
    </Feature>
    
  </Product>

</Wix>
