<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Product Id="*" Name="Peekify" Language="1033" Version="1.0.0.0" Manufacturer="Zinko Labs LLC" UpgradeCode="E6BAA9E1-F399-4048-B558-84D13A31BA5E">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Peekify" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Peekify" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ApplicationFiles" Guid="990FEA0F-A16B-443A-AB5B-1A699CDE62AC">
        <File Id="PeekifyExe" Source="$(var.Peekify.App.TargetDir)\$(var.Peekify.App.TargetFileName)"/>
        <File Id="PeekifyExeConfig" Source="$(var.Peekify.App.TargetDir)\$(var.Peekify.App.TargetFileName).config"/>
        <File Id="SpotifyApiDll" Source="$(var.Peekify.App.TargetDir)\spotifyapi.dll"/>
        <File Id="NewtonSoftJsonDll" Source="$(var.Peekify.App.TargetDir)\newtonsoft.json.dll"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>
